@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap");
@import url("https://css.gg/css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: #202124;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

/* **               ** */
/* ** MEDIA QUERIES ** */
/* **               ** */
/* Medium screens - TABLET */
@media only screen and (min-width: 641px) {
  body {
    font-size: 16px;
  }

  /* Large screens - DESKTOP */
  /* XLarge screens */
  /* XXLarge screens */
}
/* Large screens - use when QAing large screen-only issues */
/* XLarge screens - use when QAing xlarge screen-only issues */
#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

header,
main,
footer {
  padding: 0.75rem 0;
}

header {
  text-align: center;
  background: #a6adb4;
  color: #ffffff;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
  padding: 4rem;
}
main form.converter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
main div.input-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 0.75rem auto;
      grid-template-areas: "label label" "input select";
  -ms-grid-columns: 4fr 0.75rem 1fr;
  grid-template-columns: 4fr 1fr;
  gap: 0.75rem;
}
main div.input-container label {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: label;
}
main div.input-container label span {
  font-weight: 600;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
}
footer #github-icon {
  fill: #a6adb4;
}