@import './index.scss';

#root {
  @include flex(column);
  height: 100%;
}

header,
main,
footer {
  padding: $spacing-075 0;
}

header {
  text-align: center;
  background: $color-darkgray;
  color: $color-white;
}

main {
  flex: 1 0 auto;
  width: 100%;
  padding: $spacing-400;

  form.converter-form {
    @include flex(column);
    gap: $spacing-100;
  }

  div.input-container {
    display: grid;
    grid-template-areas:
      'label label'
      'input select';
    grid-template-columns: 4fr 1fr;
    gap: $spacing-075;

    label {
      grid-area: label;

      span {
        font-weight: $fweight-bold;
      }
    }
  }
}

footer {
  flex-shrink: 0;
  @include flex(row);
  place-content: center;
  #github-icon {
    fill: $color-darkgray;
  }
}
